/* Style buttons */
#buttons {
  margin-bottom: 20px;
}

.filter {
  background-color: #6195ED; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filter:hover {
  background-color: #4682B4;
}

/* Style table */ 
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #87CEEB;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}

tr:nth-child(odd) {
   background-color: #FFF;
}

tr:hover {
  background-color: #add8e6;
}

/* Reset button */
#reset {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

#reset:hover {
  background-color: #FF8C00;
}
